@charset "utf-8";
.lt_main{
    position: relative;
}
.nav{
    width: 90px;
    height: 100%;
    float: left;
    position: relative;
}
.nav li{
    width: 100%;
    height: 50px;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    background-color: pink;
}
.nav li a{
    display: block;
    line-height: 50px;
    text-align: center;
}
.nav li.now{
    border-right:1px solid transparent;
    background-color: #fff;
}
.content{
    overflow: hidden;
    height: 100%;
    position: relative;
}
.content li{
    float: left;
    width: 33.33%;
    text-align: center;
}
